html {
  min-height: 100%;
  position: relative;
  overflow-y: scroll;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  margin: 0;
  background-color: rgb(233, 233, 233);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: rgb(40, 66, 52);
}

a:hover {
  color: rgb(75, 40, 78);
}

#header {
  position: fixed;
  top: 0; 
  left: 0;
  width: 100%;
  background-color: rgb(205, 214, 201);
  z-index: 1400;
}

#banner { 
  padding: 15px 25px 5px 25px;
  text-align: right;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  overflow: hidden;
}

#bannerText {
  margin: 0px;
  color: rgb(40, 66, 52);
  text-align: right;
}

#navBar { 
  background-color: rgb(114, 114, 114); 
  width: 100%;
}

#navBarContent {
  text-align: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

button {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
  cursor: pointer;
}

.navBarButton {
  background-color: transparent;
  border-width: 2px;
  border-style: none none none solid;
  border-color: rgb(225, 213, 226);
  color: rgb(225, 213, 226);
  padding: 10px 15px;
  font-size: 12pt;
  cursor: pointer;
  float: left;
}

.navBarButton:after {
  content: "";
  clear: both;
  display: table;
}

.navBarButton:hover {
  background-color: rgb(75, 40, 78);
}

a:last-child button {
  border-right: solid 2px;
}


.navBarButtons .activeLink button {
  background-color: rgb(40, 66, 52);
}

.navBarButtons .activeLink button:hover {
  background-color: rgb(75, 40, 78);
}

@media screen and (orientation: landscape) {
  .contentContainer {
    margin-top: 100px;
    margin-bottom: 60px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    border-radius: 12px;
    padding: 5px;
  }

  .caption {
    text-align: left;
    max-width: 50%;
  }

  .media {
    max-width: 50%;
  }
}

@media screen and (orientation: portrait) {
  .contentContainer {
    margin-top: 112px;
    margin-bottom: 60px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mainContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    border-radius: 12px;
    padding: 5px;
  }

  .caption {
    text-align: left;
  }

  @media screen and (max-width: 329px) {
    .navBarButton {
      padding: 10px;
      font-size: 11pt;
    }
  }
}

#footer {
  position: fixed;
  bottom: 0; 
  left: 0;
  width: 100%;
  background: rgb(205, 214, 201);
  z-index: 1400;
}

#footer .contact-info-container {
  display: flex;
  justify-content: center;
  margin: 0px 20px;
}

#footer p {
  color: rgb(40, 66, 52);
}

#footer .contact-info-container a {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}

.styledButton {
  background-color: rgb(40, 66, 52);
  border: 2px solid rgb(40, 66, 52);
  color: rgb(225, 213, 226);
  padding: 12px;
  text-align: center;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  margin: 18px;
  border-radius: 4px;
  transition-duration: 0.4s;
}

.styledButton:hover {
  background-color: rgb(225, 213, 226);
  border: 2px solid rgb(75, 40, 78);
  color: rgb(75, 40, 78);
}

h1, h2, h3, h4, h5, h6, p
{
  color: rgb(73, 73, 73);
}
